@import "tailwindcss";


@theme {
  /* --color-primary: #0C090D;
  --color-secondary: #EE6352;
  --color-tertiary: #ffffff;
  --color-bg-1: #CAE9FF;
  --color-bg-2: #BEE9E8; */
  --color-primary: #141414;
  --color-secondary: #292929;
  --color-bg-1: #F5F5F5;
  --color-bg-2: #F5F5F5;
  --font-poppins: 'Poppins', snas-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  background-color: var(--color-bg-1);
}

.nav-item {
  padding: 4px 10px;
  background-color: var(--color-bg-2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transform: none;
}

.nav-item-cont {
  position: relative;
  transition: all .3s ease;
}

.nav-item-cont:hover {
  scale: 1.1;
}

.nav-item-cont:active {
  transform: translateY(10px);
}

.nav-item-cont::before {
  content: "";
  position: absolute;
  width: 2px;
  border: 2px solid var(--color-primary);
  bottom: 0;
  left: 50%;
  z-index: -1;
  height: 500px;
}